<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
        <title>Ebuy</title>


        <style>
            body {
              text-align: center;
              padding: 40px 0;
              background: #EBF0F5;
            }
              h1 {
                color: #88B04B;
                font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
                font-weight: 900;
                font-size: 40px;
                margin-bottom: 10px;
              }
              p {
                color: #404F5E;
                font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
                font-size:20px;
                margin: 0;
              }
            i {
              color: #9ABC66;
              font-size: 100px;
              line-height: 200px;
              margin-left:-15px;
            }
            .card {
              background: white;
              padding: 60px;
              border-radius: 4px;
              box-shadow: 0 2px 3px #C8D0D8;
              display: inline-block;
              margin: 0 auto;
            }
          </style>
    
        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
    
        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="../assets/css/slick.css"/>
        <link type="text/css" rel="stylesheet" href="../assets/css/slick-theme.css"/>
    
        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="../assets/css/nouislider.min.css"/>
    
        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    
        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css"/>
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif] -->

    
    </head>
    <body>

        
		<%- include('../Includes/Header.ejs')%>
        <!-- NAVIGATION -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Shop by Categories</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
        <!-- /NAVIGATION -->

        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">

        </div>
        <!-- /BREADCRUMB -->
<!-- ===================================================================================================================================================================================================== -->



<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
      <h1>Success</h1> 
      <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      <a href="/"><button class="primary-btn">Back To Home</button></a> 
    </div>

   



<!-- ============================================================================================================ -->
    






        <!-- FOOTER -->
        <%- include('../Includes/Footer.ejs')%>
        <!-- /FOOTER -->

        <!-- jQuery Plugins -->


    </body>
</html>