<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Phone Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Ebuy/Views/User/Assets/css/verifyotp.css">
</head>
<body class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form action="/register" method="post" class="card p-4 text-center">
        <h5 class="mb-3">Mobile Phone Verification</h5>
        <span class="mobile-text d-block mb-3">Enter the code we just sent to your mobile phone</span>
        <input type="number" name="otp" id="otpInput" class="form-control mb-3" placeholder="Enter Your OTP" required>
        <% if(typeof otp !== 'undefined') { %>
            <div class="text-danger mb-3"><%= otp %></div>
        <% } %>
        <button type="submit" class="btn btn-success w-50 mx-auto">Verify</button>
        <% if(typeof message !== 'undefined') { %>
            <div class="text-danger mt-4"><%= message %></div>
        <% } %>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
